In [1]:
data=[['ilker','ilker','vic','vic','giz','giz'],[1,1,2,2,3,3]]

In [2]:
data

[['ilker', 'ilker', 'vic', 'vic', 'giz', 'giz'], [1, 1, 2, 2, 3, 3]]

In [3]:
import pandas as pd

In [4]:
df=pd.DataFrame(data)

In [6]:
df=df.T

In [7]:
df

       0  1
0  ilker  1
1  ilker  1
2    vic  2
3    vic  2
4    giz  3
5    giz  3

In [9]:
df[0].drop_duplicates()

0    ilker
2      vic
4      giz
Name: 0, dtype: object

In [10]:
df

       0  1
0  ilker  1
1  ilker  1
2    vic  2
3    vic  2
4    giz  3
5    giz  3

In [34]:
m=df[0].drop_duplicates()

In [ ]:
df[df['A'].isin([3, 6])]

In [13]:
df[df[0].isin(['ilker','vic'])]

       0  1
0  ilker  1
1  ilker  1
2    vic  2
3    vic  2

In [37]:
df[0].describe()

count       6
unique      3
top       giz
freq        2
Name: 0, dtype: object

In [14]:
asamp=[1,5,9,10,4,2]

In [15]:
import numpy as np

In [25]:
indices = np.random.sample(range(len(asamp)))

In [26]:
indices

array([], shape=(0, 1, 2, 3, 4, 5), dtype=float64)

In [35]:
random.sample(m,2)

['giz', 'vic']

In [ ]:
def process(data):
    grouper=data[0][0]
    counter=0
    out=[]
    if data[1][0] != grouper:
        out.append(data[0]+[0])
    for i in range(1,len(data)):
        if data[i][0]==grouper:
            counter+=1
            data[i]=data[i]+[data[i][1]-data[i-1][1]]
            out.append(data[i])
        else:
            grouper=data[i][0]
            counter=0
            counter=counter+1
            out.append(data[i]+[0])
    for i in range(0,len(out)):
            if out[i][2]>50:
                out[i]=out[i]+['new session']
            else:
                out[i]=out[i]+['same']
    counter=1
    grouper=out[0][0]
    for i in range(0,len(out)):
        if out[i][0]==grouper:
            if out[i][3]=='same':
                out[i]=out[i]+[counter]
            else:
                counter=counter+1
                out[i]=out[i]+[counter]
        else:
            grouper=out[i][0]
            counter=0
            counter=counter+1
            out[i]=out[i]+[counter]
    return out

In [ ]:
def process(data):
    grouper=data[0][0]
    counter=0
    out=[]
    if data[1][0] != grouper:
        out.append(data[0]+[0])
    for i in range(1,len(data)):
        if data[i][0]==grouper:
            counter+=1
            data[i]=data[i]+[data[i][1]-data[i-1][1]]
            out.append(data[i])
        else:
            grouper=data[i][0]
            counter=0
            counter=counter+1
            out.append(data[i]+[0])
    for i in range(0,len(out)):
            if out[i][2]>50:
                out[i]=out[i]+['new session']
            else:
                out[i]=out[i]+['same']
    counter=1
    grouper=out[0][0]
    for i in range(0,len(out)):
        if out[i][0]==grouper:
            if out[i][3]=='same':
                out[i]=out[i]+[counter]
            else:
                counter=counter+1
                out[i]=out[i]+[counter]
        else:
            grouper=out[i][0]
            counter=0
            counter=counter+1
            out[i]=out[i]+[counter]
    return out